<html>
  <head>
    <title>
      <lisp>(muse-publishing-directive "title")</lisp>
    </title>
    <meta name="generator" content="muse.el" />
    <meta name="author" content="Matt Brace" />
    <meta http-equiv="<lisp>muse-html-meta-http-equiv</lisp>" content="<lisp>muse-html-meta-content-type</lisp>" />
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <link href='https://fonts.googleapis.com/css?family=Chivo:900' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="stylesheets/pygment_trac.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="stylesheets/print.css" media="print" />
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div id="container">
      <div class="inner">
        <header>
          <h1>Muster</h1>
          <h2>Implicitly parallel stream processing language</h2>
        </header>
<!--
        <section id="downloads" class="clearfix">
          <a href="https://github.com/ismarc/muster/zipball/master" id="download-zip" class="button"><span>Download .zip</span></a>
          <a href="https://github.com/ismarc/muster/tarball/master" id="download-tar-gz" class="button"><span>Download .tar.gz</span></a>
          <a href="https://github.com/ismarc/muster" id="view-on-github" class="button"><span>View on GitHub</span></a>
        </section>
-->
      <section id="main_content">
